.resume{
    margin:0;
    width:90vw;
    margin: auto;
}
header{
    display:grid;
    grid-template-columns: 9fr 1fr;
    border-bottom: 4px solid black;
    padding:5px;
    font-family: 'Playfair Display', serif;
}
header h1{
   font-size: 3em ;
}
.sections {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto auto;
    grid-gap: 20px; 
    font-family: 'Playfair Display', serif;
  }


  
 